$boxes: 81;

html,body {
    background: #C2234B;
    min-height: 100%;
    height: 100%;
}


body {
    align-items: center;
    display: flex;
    justify-content: center;
}

.cite {
    background: #FFFAB6;
    font-size: .7em;
    left: 0;
    margin: 0;
    padding: 0 1em;
    position: absolute;
    top: 0;
    a {
        color: #C2234B;
        text-decoration: none;
    }
}

.boxes {
    max-width: 225px;
}

@for $i from 1 through $boxes {
    .box:nth-child(#{$i}) {
        animation-delay: $i * 20ms;
    }
}

.box {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: #FFFAB6;
    float: left;
    height: 25px;
    width: 25px;
}

@keyframes spin {
    25% {
        transform: rotate(45deg) scale(0.7); 
    }
    50% {
        transform: rotate(90deg) scale(1); 
    }
    75% {
        transform: rotate(45deg) scale(0.7); 
    }
}